.finalise-panel{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .finalise-panel{
        flex-direction: column;
        align-items: center;
    }

    .finalise-panel .btn{
        margin: 10px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .finalise-panel .btn{
        font-size: 20px;
    }
}