.mp-container{
    background-color: #007A78;
}

.container-fluid{
    display: flex;
    justify-content: center;
}

.container-fluid .row-customized{
    width: 80%;
    padding: 20px 0px;
}

.container-fluid .row-customized .col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}