.check-list-img{
    height: 150px;
}

#check-table .td{
    text-align: center;
    vertical-align: middle;
}

/* td{
    display: flex;
    align-items: center;
    justify-content: center;
}

th{
    display: flex;
    align-items: center;
    justify-content: center;
} */