.check-list-img{
    width: 20%;
}

/* td{
    display: flex;
    align-items: center;
    justify-content: center;
}

th{
    display: flex;
    align-items: center;
    justify-content: center;
} */