#history-table .td{
    text-align: center;
    vertical-align: middle;
}

#history-table .li-padding{
    padding-left: 35%;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    #history-table .mobile-none{
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    #history-table{
        font-size: 22px;
    }

    #history-table .li-padding{
        padding-left: 0;
        text-align: left;
    }
}