#history-table .td{
    text-align: center;
    vertical-align: middle;
}

#history-table .li-padding{
    padding-left: 35%;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    #history-table .mobile-none{
        display: none;
    }
}