#navbar-bootstrap{
    background-color: #212528;
    padding: 20px 0px;
}

#navbar-bootstrap .links{
    text-decoration: none;
    color: #FFC745;
    display: block;
    margin: 0;
}

#navbar-bootstrap .container{
    display: flex;
    justify-content: space-around;
}

#navbar-bootstrap .fullscreen-disable{
    display: none;
}

#navbar-bootstrap .icons{
    height: 20px;
    color: #FFC745;
}

@media only screen and (max-width: 600px) {
    #navbar-bootstrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #navbar-bootstrap .container{
        flex-direction: column;
    }

    #navbar-bootstrap .links{
        padding: 15px 0;
        letter-spacing: 2px;
    }

    #navbar-bootstrap .icons{
        padding: 10px 0;
    }

    .navbar-toggler .navbar-toggler-icon{
        color: #FFC745;
    }

    #basic-navbar-nav{
        text-align: center;
    }

    #navbar-bootstrap .fullscreen-disable{
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    #navbar-bootstrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #navbar-bootstrap .container{
        flex-direction: column;
    }

    #navbar-bootstrap .links{
        padding: 15px 0;
        letter-spacing: 2px;
        font-size: 22px;
    }

    #navbar-bootstrap .icons{
        padding: 10px 0;
        height: 30px;
    }

    .navbar-toggler .navbar-toggler-icon{
        color: #FFC745;
    }

    #basic-navbar-nav{
        text-align: center;
    }

    #navbar-bootstrap .fullscreen-disable{
        display: block;
    }
}