.balance-alerts{
    width: 33%;
}

.description-box-for-balance{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .description-box-for-balance{
        flex-direction: column;
        align-items: center;
    }

    .balance-alerts{
        width: 90%;
    }
}