.search-container{
    display: flex;
    justify-content: center;
}

.search-container .search-field{
    width: 60%;
    padding: 10px 0px;
    border-radius: 11px;
    border: none;
}

.search-container .button-search{
    margin-left: 20px;
}